@import '../../styles/theme';

.detail-page {
  @extend %page;

  .prop-section {
    background-color: $white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    @extend %flex-column;

    &-item {
      padding: 20px;
      border-bottom: 1px solid $border-color;

      &-label {
        min-width: 150px;
        padding-bottom: 10px;
      }

      &-value {
        &-text {
          color: $text-color-light;
        }

        &-longText {
          color: $text-color-light;
          padding: 10px;
          font-size: 26px;
        }

        &-file {
          .at-button {
            background-color: white;
            color: $text-color-light;
            margin-right: 20px;
          }
        }
      }
    }

    &-item.inline,
    &-item.file {
      @extend %flex-row;
    }

    &-item.link {
      .prop-section-item-value-text {
        color: $color-brand-light;
      }
    }
  }

  .section-list {
    display: block;
    padding: 20px 20px 0 20px;
  }
}
